# 결측치 이번엔 다 채워보자
 - ctrl+f 해서 데이터 전처리 검색

In [200]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [201]:
train_data = pd.read_csv('./data_kaggle/train7.csv')
test_data = pd.read_csv('./data_kaggle/test2.csv')

In [202]:
train_data.info() # 결측치 컬럼 = [Location, Year, Kilometers_Driven, Fuel_Type, Owner_Type, Mileage, Power, Seats] 8개

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 4999 non-null   int64
 1   Name               4999 non-null   object
 2   Location           4906 non-null   object
 3   Year               4999 non-null   int64
 4   Kilometers_Driven  4368 non-null   float64
 5   Fuel_Type          4999 non-null   object
 6   Transmission       4999 non-null   object
 7   Owner_Type         4999 non-null   object
 8   Mileage            4999 non-null   float64
 9   Engine             4999 non-null   int64
 10  Power              4999 non-null   float64
 11  Seats              4999 non-null   int64
 12  Price              4999 non-null   float64
 13  Brand              4999 non-null   object
dtypes: float64(4), int64(4), object(6)
memory usage: 546.9+ KB

In [203]:
test_data.info() # 결측치 컬럼 = [Kilometers_Driven, Year, Engine, Power, Seats] 5개 train_data와 다르게 Engine이 결측치

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1019 non-null   int64
 1   Name               1019 non-null   object
 2   Location           1019 non-null   object
 3   Year               1019 non-null   int64
 4   Kilometers_Driven  1019 non-null   int64
 5   Fuel_Type          1019 non-null   object
 6   Transmission       1019 non-null   object
 7   Owner_Type         1019 non-null   object
 8   Mileage            1019 non-null   float64
 9   Engine             1019 non-null   int64
 10  Power              1019 non-null   float64
 11  Seats              1019 non-null   int64
 12  Brand              1019 non-null   object
dtypes: float64(2), int64(5), object(6)
memory usage: 103.6+ KB

In [204]:
# test_data 기준에 맞춰서 채워야되는듯?

### 1. train_data 결측치 채우기
 1. Kilometers_Driven
 2. Year
 3. Engine
 4. Power
 5. Seats

In [205]:
train_data['Kilometers_Driven'].value_counts()  # train_data 총 개수 = 4353 개   null값 = 646개

60000.0    65
45000.0    52
65000.0    47
50000.0    47
70000.0    44
           ..
65097.0     1
66296.0     1
58734.0     1
55116.0     1
45252.0     1
Name: Kilometers_Driven, Length: 2298, dtype: int64

In [206]:
# 골고루 있는거 같아서 mean() 값을 넣기로해봄
train_data['Kilometers_Driven'].mean()

59397.51602564102

In [207]:
train_data['Kilometers_Driven'] = train_data['Kilometers_Driven'].fillna(59442) #mean 값
print('train_data[Kilometers_Driven] fillna 한 후 isnull().sum() : ',train_data['Kilometers_Driven'].isnull().sum())

train_data[Kilometers_Driven] fillna 한 후 isnull().sum() :  0

In [208]:
test_data['Kilometers_Driven'].value_counts()  # test_data 총 개수 = 819개  null값 = 200

56000     201
65000      13
30000      12
42000      11
52000      11
         ...
149000      1
32450       1
31817       1
39566       1
67585       1
Name: Kilometers_Driven, Length: 514, dtype: int64

In [209]:
test_data['Kilometers_Driven'] = test_data['Kilometers_Driven'].fillna(59442) # -> 결측치 채우기
print('test_data[Kilometers_Driven] fillna 한 후 isnull().sum() : ' , test_data['Kilometers_Driven'].isnull().sum())

test_data[Kilometers_Driven] fillna 한 후 isnull().sum() :  0

In [210]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 4999 non-null   int64
 1   Name               4999 non-null   object
 2   Location           4906 non-null   object
 3   Year               4999 non-null   int64
 4   Kilometers_Driven  4999 non-null   float64
 5   Fuel_Type          4999 non-null   object
 6   Transmission       4999 non-null   object
 7   Owner_Type         4999 non-null   object
 8   Mileage            4999 non-null   float64
 9   Engine             4999 non-null   int64
 10  Power              4999 non-null   float64
 11  Seats              4999 non-null   int64
 12  Price              4999 non-null   float64
 13  Brand              4999 non-null   object
dtypes: float64(4), int64(4), object(6)
memory usage: 546.9+ KB

In [211]:
test_data.info()  # 확인 결과 두개 다 참

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1019 non-null   int64
 1   Name               1019 non-null   object
 2   Location           1019 non-null   object
 3   Year               1019 non-null   int64
 4   Kilometers_Driven  1019 non-null   int64
 5   Fuel_Type          1019 non-null   object
 6   Transmission       1019 non-null   object
 7   Owner_Type         1019 non-null   object
 8   Mileage            1019 non-null   float64
 9   Engine             1019 non-null   int64
 10  Power              1019 non-null   float64
 11  Seats              1019 non-null   int64
 12  Brand              1019 non-null   object
dtypes: float64(2), int64(5), object(6)
memory usage: 103.6+ KB

 2. Year

In [212]:
train_data['Year'].value_counts()# train_data 4660개 null 339개

2014    688
2016    612
2015    609
2013    516
2017    499
2012    479
2011    370
2010    290
2018    255
2009    163
2008    146
2007    110
2019     80
2006     67
2005     52
2004     25
2003     13
2002     11
2001      6
1998      4
2000      3
1999      1
Name: Year, dtype: int64

In [213]:
train_data['Year'].mean()

2013.3632726545309

In [214]:
# year는 2012~2017년에 많이 몰려있는거 같음
# 평균값인 2015년을 넣자
train_data['Year'] = train_data['Year'].fillna(2015.0)


print('train_data[year] null값 확인 : ',train_data['Year'].isnull().sum())

train_data[year] null값 확인 :  0

In [215]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 4999 non-null   int64
 1   Name               4999 non-null   object
 2   Location           4906 non-null   object
 3   Year               4999 non-null   int64
 4   Kilometers_Driven  4999 non-null   float64
 5   Fuel_Type          4999 non-null   object
 6   Transmission       4999 non-null   object
 7   Owner_Type         4999 non-null   object
 8   Mileage            4999 non-null   float64
 9   Engine             4999 non-null   int64
 10  Power              4999 non-null   float64
 11  Seats              4999 non-null   int64
 12  Price              4999 non-null   float64
 13  Brand              4999 non-null   object
dtypes: float64(4), int64(4), object(6)
memory usage: 546.9+ KB

In [216]:
# test_data['year'] 도 똑같이 ㄱㄱ

In [217]:
test_data['Year'].value_counts().sum() # test_data 1001 개 null 18개

1019

In [218]:
test_data['Year'] = test_data['Year'].fillna(2015.0)

In [219]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1019 non-null   int64
 1   Name               1019 non-null   object
 2   Location           1019 non-null   object
 3   Year               1019 non-null   int64
 4   Kilometers_Driven  1019 non-null   int64
 5   Fuel_Type          1019 non-null   object
 6   Transmission       1019 non-null   object
 7   Owner_Type         1019 non-null   object
 8   Mileage            1019 non-null   float64
 9   Engine             1019 non-null   int64
 10  Power              1019 non-null   float64
 11  Seats              1019 non-null   int64
 12  Brand              1019 non-null   object
dtypes: float64(2), int64(5), object(6)
memory usage: 103.6+ KB

 3. Engine
  - 이거 왠지 1000~ 1100 이런식으로 그룹화 해야될 느낌이 팍팍들긴하네

In [220]:
train_data['Engine'].value_counts() # 골고루 있네.. 일단 CC 부터 빼야될듯

1197    491
1248    442
1498    241
998     217
2179    194
       ...
1948      1
1797      1
1978      1
1468      1
2147      1
Name: Engine, Length: 142, dtype: int64

In [221]:
for i in range(len(train_data['Name'])):
    if train_data['Engine'][i] == '0CC':
        train_data['Engine'][i] = '0 CC'

In [222]:
for i in range(len(train_data['Name'])):
    train_data['Engine'][i] = train_data['Engine'][i].split(' ',1)[0]
    
    
# 노나 놨으니까 이거를 float 으로 바꿔야해

AttributeError: 'numpy.int64' object has no attribute 'split'

In [223]:
train_data['Engine'] = train_data['Engine'].astype(float)
train_data.info() # float 으로 바꿈

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 4999 non-null   int64
 1   Name               4999 non-null   object
 2   Location           4906 non-null   object
 3   Year               4999 non-null   int64
 4   Kilometers_Driven  4999 non-null   float64
 5   Fuel_Type          4999 non-null   object
 6   Transmission       4999 non-null   object
 7   Owner_Type         4999 non-null   object
 8   Mileage            4999 non-null   float64
 9   Engine             4999 non-null   float64
 10  Power              4999 non-null   float64
 11  Seats              4999 non-null   int64
 12  Price              4999 non-null   float64
 13  Brand              4999 non-null   object
dtypes: float64(5), int64(3), object(6)
memory usage: 546.9+ KB

In [224]:
train_data['Engine'].mean() # 평균 값 1514.242... 인데 이게 새로운값이라 의미가 있나 싶네

1629.6965393078615

In [225]:
test_data['Engine'].value_counts() # test_data

1620    122
1197     84
1248     67
1498     60
998      46
       ...
1590      1
3597      1
2446      1
2496      1
1047      1
Name: Engine, Length: 98, dtype: int64

In [226]:
test_data['Engine'].isnull().sum() # 122개 null 값

0

In [227]:
# 일단 CC 부터 빼겟음
for i in range(len(test_data['Name'])):
    if test_data['Engine'][i] == '0CC':
        test_data['Engine'][i] = '0 CC'

In [228]:
test_data['Engine'] # null 데이터 때문에 막힘 먼저 넣어야될듯

0        998
1       1198
2       1498
3       1248
4       2198
        ...
1014    2179
1015    2179
1016    2499
1017    1968
1018    1620
Name: Engine, Length: 1019, dtype: int64

In [229]:
# 무슨 값을 넣어야할지 모르곘다 제일 많은 1197 값을 넣겠음 -> 결측치 채우기
test_data['Engine'] = test_data['Engine'].fillna('1197 CC')

In [230]:
for i in range(len(test_data['Name'])):
    test_data['Engine'][i] = test_data['Engine'][i].split(' ',1)[0]

AttributeError: 'numpy.int64' object has no attribute 'split'

In [231]:
test_data['Engine'] = test_data['Engine'].astype(float)

In [232]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1019 non-null   int64
 1   Name               1019 non-null   object
 2   Location           1019 non-null   object
 3   Year               1019 non-null   int64
 4   Kilometers_Driven  1019 non-null   int64
 5   Fuel_Type          1019 non-null   object
 6   Transmission       1019 non-null   object
 7   Owner_Type         1019 non-null   object
 8   Mileage            1019 non-null   float64
 9   Engine             1019 non-null   float64
 10  Power              1019 non-null   float64
 11  Seats              1019 non-null   int64
 12  Brand              1019 non-null   object
dtypes: float64(3), int64(4), object(6)
memory usage: 103.6+ KB

 4. Power
  - 이거도 그룹화 시켜야될 가능성이 있어

In [233]:
train_data['Power'].value_counts()

74.00     222
98.60     103
73.90     101
140.00     97
67.10      93
         ...
270.88      1
71.01       1
174.57      1
98.79       1
362.90      1
Name: Power, Length: 360, dtype: int64

In [234]:
train_data['Power'].isnull().sum() # 573개

0

In [235]:
train_data['Power'] # NaN 데이터 때문에 안노나지는 상황

0       143.0
1       143.0
2       143.0
3       143.0
4       163.2
        ...
4994    215.0
4995    215.0
4996    215.0
4997    200.0
4998    200.0
Name: Power, Length: 4999, dtype: float64

In [236]:
# 일단 제일 많은 74 bhp 로 넣어보기로함 -> 데이터 전처리
train_data['Power'] = train_data['Power'].fillna('74 bhp')

In [237]:
# 일단 bhp 없애는 작업 시작

for i in range(len(train_data['Name'])):
    train_data['Power'][i] = train_data['Power'][i].split(' ',1)[0]

AttributeError: 'numpy.float64' object has no attribute 'split'

In [238]:
for i in range(len(train_data['Name'])):
    if train_data['Power'][i] == 'null':
        train_data['Power'][i] = 74


train_data['Power'] = train_data['Power'].astype(float) # 데이터 전처리 -> null 값없애던지 바꾸던지

In [239]:
train_data.info() # 다 찼넹?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 4999 non-null   int64
 1   Name               4999 non-null   object
 2   Location           4906 non-null   object
 3   Year               4999 non-null   int64
 4   Kilometers_Driven  4999 non-null   float64
 5   Fuel_Type          4999 non-null   object
 6   Transmission       4999 non-null   object
 7   Owner_Type         4999 non-null   object
 8   Mileage            4999 non-null   float64
 9   Engine             4999 non-null   float64
 10  Power              4999 non-null   float64
 11  Seats              4999 non-null   int64
 12  Price              4999 non-null   float64
 13  Brand              4999 non-null   object
dtypes: float64(5), int64(3), object(6)
memory usage: 546.9+ KB

In [240]:
test_data['Power'].value_counts()

113.00    305
74.00      33
73.90      21
67.10      20
98.60      18
         ...
66.00       1
254.79      1
35.00       1
37.48       1
148.31      1
Name: Power, Length: 199, dtype: int64

In [241]:
test_data['Power'].isnull().sum() # 291개가 있네

0

In [242]:
# 일단 제일 많은 74 bhp 로 넣어보기로함 -> 데이터 전처리
test_data['Power'] = test_data['Power'].fillna('74 bhp')

In [243]:
# 일단 bhp 없애는 작업 시작

for i in range(len(test_data['Name'])):
    test_data['Power'][i] = test_data['Power'][i].split(' ',1)[0]

AttributeError: 'numpy.float64' object has no attribute 'split'

In [244]:
for i in range(len(test_data['Name'])):
    if test_data['Power'][i] == 'null':
        test_data['Power'][i] = 74

test_data['Power'] = test_data['Power'].astype(float)

In [245]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1019 non-null   int64
 1   Name               1019 non-null   object
 2   Location           1019 non-null   object
 3   Year               1019 non-null   int64
 4   Kilometers_Driven  1019 non-null   int64
 5   Fuel_Type          1019 non-null   object
 6   Transmission       1019 non-null   object
 7   Owner_Type         1019 non-null   object
 8   Mileage            1019 non-null   float64
 9   Engine             1019 non-null   float64
 10  Power              1019 non-null   float64
 11  Seats              1019 non-null   int64
 12  Brand              1019 non-null   object
dtypes: float64(3), int64(4), object(6)
memory usage: 103.6+ KB

 5. Seats

In [246]:
train_data['Seats'].value_counts()

5     4163
7      585
8      116
4       86
6       28
2       14
10       4
9        3
Name: Seats, dtype: int64

In [247]:
train_data['Seats'].isnull().sum() # 72개밖에 없지만 5.0이 압도적으로 높아서 5로 다넣기 -> 데이터 전처리

0

In [248]:
train_data['Seats'] = train_data['Seats'].fillna(5.0)

In [249]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 4999 non-null   int64
 1   Name               4999 non-null   object
 2   Location           4906 non-null   object
 3   Year               4999 non-null   int64
 4   Kilometers_Driven  4999 non-null   float64
 5   Fuel_Type          4999 non-null   object
 6   Transmission       4999 non-null   object
 7   Owner_Type         4999 non-null   object
 8   Mileage            4999 non-null   float64
 9   Engine             4999 non-null   float64
 10  Power              4999 non-null   float64
 11  Seats              4999 non-null   int64
 12  Price              4999 non-null   float64
 13  Brand              4999 non-null   object
dtypes: float64(5), int64(3), object(6)
memory usage: 546.9+ KB

In [250]:
test_data['Seats'].value_counts()

5    855
7    112
8     23
4     20
6      6
2      3
Name: Seats, dtype: int64

In [251]:
test_data['Seats'].isnull().sum() # null 값 4개라 이것도 그냥 5.0 넣기 -> 데이터 전처리

0

In [252]:
test_data['Seats'] = test_data['Seats'].fillna(5.0)

In [253]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1019 non-null   int64
 1   Name               1019 non-null   object
 2   Location           1019 non-null   object
 3   Year               1019 non-null   int64
 4   Kilometers_Driven  1019 non-null   int64
 5   Fuel_Type          1019 non-null   object
 6   Transmission       1019 non-null   object
 7   Owner_Type         1019 non-null   object
 8   Mileage            1019 non-null   float64
 9   Engine             1019 non-null   float64
 10  Power              1019 non-null   float64
 11  Seats              1019 non-null   int64
 12  Brand              1019 non-null   object
dtypes: float64(3), int64(4), object(6)
memory usage: 103.6+ KB

### 먼저 Mileage 컬럼 kmpl 없애자 -> astype(float)

In [254]:
train_data['Mileage'] = train_data['Mileage'].fillna('18.9 kmpl') # 카운트벨류 제일 높은값 그냥 집어넣음 -> 전처리

In [255]:
for i in range(len(train_data['Name'])):
    train_data['Mileage'][i] = train_data['Mileage'][i].split(' ',1)[0]

AttributeError: 'numpy.float64' object has no attribute 'split'

In [256]:
train_data['Mileage'].value_counts()

17.00    148
18.90    148
18.60     94
17.80     77
20.36     71
        ...
13.45      1
15.85      1
6.40       1
12.35      1
8.77       1
Name: Mileage, Length: 417, dtype: int64

In [257]:
for i in range(len(test_data['Name'])):
    test_data['Mileage'][i] = test_data['Mileage'][i].split(' ',1)[0]

AttributeError: 'numpy.float64' object has no attribute 'split'

In [258]:
train_data['Mileage'] = train_data['Mileage'].astype(float)
test_data['Mileage'] = test_data['Mileage'].astype(float)

### Name 등등 ONE HOT ENCODING

In [259]:
for i in range(len(train_data['Name'])):
    train_data['Name'][i] = train_data['Name'][i].split(' ',1)[0] # Name 분해

C:\Users\SMHRD\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [260]:
for i in range(len(test_data['Name'])):
    test_data['Name'][i] = test_data['Name'][i].split(' ',1)[0]

C:\Users\SMHRD\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [261]:
test_data['Name'].unique()  # Datsun 이 없음

array(['Maruti', 'Honda', 'Volkswagen', 'Ford', 'Force', 'Audi',
       'Hyundai', 'Renault', 'Tata', 'BMW', 'Mahindra', 'Chevrolet',
       'Toyota', 'Skoda', 'Nissan', 'Land', 'Mercedes-Benz', 'Porsche',
       'Mitsubishi', 'Volvo', 'Mini', 'Jaguar', 'Jeep', 'Bentley', 'Fiat',
       'ISUZU', 'Lamborghini'], dtype=object)

In [262]:
for i in range(len(train_data['Name'])):  # Isuzu 를 ISUZU로 바꿔서 컬럼 통일
    if train_data['Name'][i] == 'Isuzu':
        train_data['Name'][i] = 'ISUZU'

C:\Users\SMHRD\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [263]:
print(len(train_data['Name'].unique()))  
print(len(test_data['Name'].unique()))  # 컬럼 개수가 다름

28
27

In [264]:
categorical_feature = ['Name','Location','Fuel_Type','Transmission','Owner_Type', 'Brand']
for cat_name in categorical_feature:
    one_hot = pd.get_dummies(train_data[cat_name],prefix=cat_name)
    train_data = pd.concat([train_data,one_hot],axis=1)
    train_data.drop(cat_name, axis=1, inplace=True)

In [265]:
categorical_feature = ['Name','Location','Fuel_Type','Transmission','Owner_Type', 'Brand']
for cat_name in categorical_feature:
    one_hot = pd.get_dummies(test_data[cat_name],prefix=cat_name)
    test_data = pd.concat([test_data,one_hot],axis=1)
    test_data.drop(cat_name, axis=1, inplace=True)

In [266]:
train_data

,ID,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Name_Audi,Name_BMW,...,Brand_Mini,Brand_Mitsubishi,Brand_Nissan,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,4250,2014,79271.0,20.38,1968.0,143.0,5,16.50,1,0,...,0,0,0,0,0,0,0,0,0,0
1,4303,2016,20003.0,20.38,1968.0,143.0,5,19.25,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2713,2016,39000.0,20.38,1968.0,143.0,5,18.90,1,0,...,0,0,0,0,0,0,0,0,0,0
3,563,2017,59442.0,20.38,1968.0,143.0,5,22.50,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2960,2011,53000.0,12.30,1798.0,163.2,5,9.50,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,536,2015,100000.0,13.50,2400.0,215.0,5,32.50,0,0,...,0,0,0,0,0,0,0,0,0,1
4995,828,2011,173000.0,13.50,2400.0,215.0,5,12.00,0,0,...,0,0,0,0,0,0,0,0,0,1
4996,2942,2014,59442.0,11.20,2400.0,215.0,5,17.18,0,0,...,0,0,0,0,0,0,0,0,0,1
4997,4437,2014,102001.0,11.10,2400.0,200.0,7,23.58,0,0,...,0,0,0,0,0,0,0,0,0,1
4998,1520,2014,89230.0,11.10,2400.0,200.0,7,23.65,0,0,...,0,0,0,0,0,0,0,0,0,1

In [267]:
train_data['Name'].value_counts()  # Datsun 12개라 그냥 날리기로 정함 -> 데이터 전처리

KeyError: 'Name'

In [268]:
train_data['Fuel_Type'].value_counts() # Electric 2개라 그냥 날리기로 함 -> 데이터 전처리

KeyError: 'Fuel_Type'

In [269]:
for i in range(len(train_data['Name'])):
    if train_data['Name'][i] == 'Datsun':
        train_data['Name'][i] = None

KeyError: 'Name'

In [270]:
for i in range(len(train_data['Fuel_Type'])):
    if train_data['Fuel_Type'][i] == 'Electric':
        train_data['Fuel_Type'][i] = None

KeyError: 'Fuel_Type'

In [271]:
train_data.info() # Isuzu, ISUZU 2개임

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 87 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         4999 non-null   int64
 1   Year                       4999 non-null   int64
 2   Kilometers_Driven          4999 non-null   float64
 3   Mileage                    4999 non-null   float64
 4   Engine                     4999 non-null   float64
 5   Power                      4999 non-null   float64
 6   Seats                      4999 non-null   int64
 7   Price                      4999 non-null   float64
 8   Name_Audi                  4999 non-null   uint8
 9   Name_BMW                   4999 non-null   uint8
 10  Name_Bentley               4999 non-null   uint8
 11  Name_Chevrolet             4999 non-null   uint8
 12  Name_Datsun                4999 non-null   uint8
 13  Name_Fiat                  4999 non-null   uint8
 14  Name_Force                 4999 non-null   uint8
 15  Name_Ford                  4999 non-null   uint8
 16  Name_Honda                 4999 non-null   uint8
 17  Name_Hyundai               4999 non-null   uint8
 18  Name_ISUZU                 4999 non-null   uint8
 19  Name_Jaguar                4999 non-null   uint8
 20  Name_Jeep                  4999 non-null   uint8
 21  Name_Lamborghini           4999 non-null   uint8
 22  Name_Land                  4999 non-null   uint8
 23  Name_Mahindra              4999 non-null   uint8
 24  Name_Maruti                4999 non-null   uint8
 25  Name_Mercedes-Benz         4999 non-null   uint8
 26  Name_Mini                  4999 non-null   uint8
 27  Name_Mitsubishi            4999 non-null   uint8
 28  Name_Nissan                4999 non-null   uint8
 29  Name_Porsche               4999 non-null   uint8
 30  Name_Renault               4999 non-null   uint8
 31  Name_Skoda                 4999 non-null   uint8
 32  Name_Tata                  4999 non-null   uint8
 33  Name_Toyota                4999 non-null   uint8
 34  Name_Volkswagen            4999 non-null   uint8
 35  Name_Volvo                 4999 non-null   uint8
 36  Location_Ahmedabad         4999 non-null   uint8
 37  Location_Bangalore         4999 non-null   uint8
 38  Location_Chennai           4999 non-null   uint8
 39  Location_Coimbatore        4999 non-null   uint8
 40  Location_Delhi             4999 non-null   uint8
 41  Location_Hyderabad         4999 non-null   uint8
 42  Location_Jaipur            4999 non-null   uint8
 43  Location_Kochi             4999 non-null   uint8
 44  Location_Kolkata           4999 non-null   uint8
 45  Location_Mumbai            4999 non-null   uint8
 46  Location_Pune              4999 non-null   uint8
 47  Fuel_Type_CNG              4999 non-null   uint8
 48  Fuel_Type_Diesel           4999 non-null   uint8
 49  Fuel_Type_Electric         4999 non-null   uint8
 50  Fuel_Type_LPG              4999 non-null   uint8
 51  Fuel_Type_Petrol           4999 non-null   uint8
 52  Transmission_Automatic     4999 non-null   uint8
 53  Transmission_Manual        4999 non-null   uint8
 54  Owner_Type_First           4999 non-null   uint8
 55  Owner_Type_Fourth & Above  4999 non-null   uint8
 56  Owner_Type_Second          4999 non-null   uint8
 57  Owner_Type_Third           4999 non-null   uint8
 58  Brand_Audi                 4999 non-null   uint8
 59  Brand_BMW                  4999 non-null   uint8
 60  Brand_Bentley              4999 non-null   uint8
 61  Brand_Chevrolet            4999 non-null   uint8
 62  Brand_Datsun               4999 non-null   uint8
 63  Brand_Fiat                 4999 non-null   uint8
 64  Brand_Force                4999 non-null   uint8
 65  Brand_Ford                 4999 non-null   uint8
 66  Brand_Honda                4999 non-null   uint8
 67  Brand_Hyundai              4999 non-null   uint8
 68  Brand_ISUZU                4999 non-null   uint8
 69  Brand_Isuzu                4999 non-null   uint8
 70  Brand_Jaguar               4999 non-null   uint8
 71  Brand_Jeep                 4999 non-null   uint8
 72  Brand_Lamborghini          4999 non-null   uint8
 73  Brand_Land                 4999 non-null   uint8
 74  Brand_Mahindra             4999 non-null   uint8
 75  Brand_Maruti               4999 non-null   uint8
 76  Brand_Mercedes-Benz        4999 non-null   uint8
 77  Brand_Mini                 4999 non-null   uint8
 78  Brand_Mitsubishi           4999 non-null   uint8
 79  Brand_Nissan               4999 non-null   uint8
 80  Brand_Porsche              4999 non-null   uint8
 81  Brand_Renault              4999 non-null   uint8
 82  Brand_Skoda                4999 non-null   uint8
 83  Brand_Tata                 4999 non-null   uint8
 84  Brand_Toyota               4999 non-null   uint8
 85  Brand_Volkswagen           4999 non-null   uint8
 86  Brand_Volvo                4999 non-null   uint8
dtypes: float64(5), int64(3), uint8(79)
memory usage: 698.2 KB

In [272]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 82 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         1019 non-null   int64
 1   Year                       1019 non-null   int64
 2   Kilometers_Driven          1019 non-null   int64
 3   Mileage                    1019 non-null   float64
 4   Engine                     1019 non-null   float64
 5   Power                      1019 non-null   float64
 6   Seats                      1019 non-null   int64
 7   Name_Audi                  1019 non-null   uint8
 8   Name_BMW                   1019 non-null   uint8
 9   Name_Bentley               1019 non-null   uint8
 10  Name_Chevrolet             1019 non-null   uint8
 11  Name_Fiat                  1019 non-null   uint8
 12  Name_Force                 1019 non-null   uint8
 13  Name_Ford                  1019 non-null   uint8
 14  Name_Honda                 1019 non-null   uint8
 15  Name_Hyundai               1019 non-null   uint8
 16  Name_ISUZU                 1019 non-null   uint8
 17  Name_Jaguar                1019 non-null   uint8
 18  Name_Jeep                  1019 non-null   uint8
 19  Name_Lamborghini           1019 non-null   uint8
 20  Name_Land                  1019 non-null   uint8
 21  Name_Mahindra              1019 non-null   uint8
 22  Name_Maruti                1019 non-null   uint8
 23  Name_Mercedes-Benz         1019 non-null   uint8
 24  Name_Mini                  1019 non-null   uint8
 25  Name_Mitsubishi            1019 non-null   uint8
 26  Name_Nissan                1019 non-null   uint8
 27  Name_Porsche               1019 non-null   uint8
 28  Name_Renault               1019 non-null   uint8
 29  Name_Skoda                 1019 non-null   uint8
 30  Name_Tata                  1019 non-null   uint8
 31  Name_Toyota                1019 non-null   uint8
 32  Name_Volkswagen            1019 non-null   uint8
 33  Name_Volvo                 1019 non-null   uint8
 34  Location_Ahmedabad         1019 non-null   uint8
 35  Location_Bangalore         1019 non-null   uint8
 36  Location_Chennai           1019 non-null   uint8
 37  Location_Coimbatore        1019 non-null   uint8
 38  Location_Delhi             1019 non-null   uint8
 39  Location_Hyderabad         1019 non-null   uint8
 40  Location_Jaipur            1019 non-null   uint8
 41  Location_Kochi             1019 non-null   uint8
 42  Location_Kolkata           1019 non-null   uint8
 43  Location_Mumbai            1019 non-null   uint8
 44  Location_Pune              1019 non-null   uint8
 45  Fuel_Type_CNG              1019 non-null   uint8
 46  Fuel_Type_Diesel           1019 non-null   uint8
 47  Fuel_Type_LPG              1019 non-null   uint8
 48  Fuel_Type_Petrol           1019 non-null   uint8
 49  Transmission_Automatic     1019 non-null   uint8
 50  Transmission_Manual        1019 non-null   uint8
 51  Owner_Type_First           1019 non-null   uint8
 52  Owner_Type_Fourth & Above  1019 non-null   uint8
 53  Owner_Type_Second          1019 non-null   uint8
 54  Owner_Type_Third           1019 non-null   uint8
 55  Brand_Audi                 1019 non-null   uint8
 56  Brand_BMW                  1019 non-null   uint8
 57  Brand_Bentley              1019 non-null   uint8
 58  Brand_Chevrolet            1019 non-null   uint8
 59  Brand_Fiat                 1019 non-null   uint8
 60  Brand_Force                1019 non-null   uint8
 61  Brand_Ford                 1019 non-null   uint8
 62  Brand_Honda                1019 non-null   uint8
 63  Brand_Hyundai              1019 non-null   uint8
 64  Brand_ISUZU                1019 non-null   uint8
 65  Brand_Jaguar               1019 non-null   uint8
 66  Brand_Jeep                 1019 non-null   uint8
 67  Brand_Lamborghini          1019 non-null   uint8
 68  Brand_Land                 1019 non-null   uint8
 69  Brand_Mahindra             1019 non-null   uint8
 70  Brand_Maruti               1019 non-null   uint8
 71  Brand_Mercedes-Benz        1019 non-null   uint8
 72  Brand_Mini                 1019 non-null   uint8
 73  Brand_Mitsubishi           1019 non-null   uint8
 74  Brand_Nissan               1019 non-null   uint8
 75  Brand_Porsche              1019 non-null   uint8
 76  Brand_Renault              1019 non-null   uint8
 77  Brand_Skoda                1019 non-null   uint8
 78  Brand_Tata                 1019 non-null   uint8
 79  Brand_Toyota               1019 non-null   uint8
 80  Brand_Volkswagen           1019 non-null   uint8
 81  Brand_Volvo                1019 non-null   uint8
dtypes: float64(3), int64(4), uint8(75)
memory usage: 130.5 KB

In [273]:
ex = []
for i in range(len(test_data.columns)):
    ex.append(test_data.columns[i])

In [274]:
ex1 = []
for i in range(len(train_data.columns)):
    ex1.append(train_data.columns[i])

In [275]:
z = list(set(ex1)-set(ex))

In [276]:
z

['Fuel_Type_Electric', 'Brand_Isuzu', 'Name_Datsun', 'Price', 'Brand_Datsun']

## 일단 데이터 test 데이터는 null 값 없이 채움 -> train 널값은 날리기로함

In [277]:
train_data = train_data.dropna('index')

In [278]:
train_data.info() # 5000 -> 4336 개로 줄었음

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4999 entries, 0 to 4998
Data columns (total 87 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         4999 non-null   int64
 1   Year                       4999 non-null   int64
 2   Kilometers_Driven          4999 non-null   float64
 3   Mileage                    4999 non-null   float64
 4   Engine                     4999 non-null   float64
 5   Power                      4999 non-null   float64
 6   Seats                      4999 non-null   int64
 7   Price                      4999 non-null   float64
 8   Name_Audi                  4999 non-null   uint8
 9   Name_BMW                   4999 non-null   uint8
 10  Name_Bentley               4999 non-null   uint8
 11  Name_Chevrolet             4999 non-null   uint8
 12  Name_Datsun                4999 non-null   uint8
 13  Name_Fiat                  4999 non-null   uint8
 14  Name_Force                 4999 non-null   uint8
 15  Name_Ford                  4999 non-null   uint8
 16  Name_Honda                 4999 non-null   uint8
 17  Name_Hyundai               4999 non-null   uint8
 18  Name_ISUZU                 4999 non-null   uint8
 19  Name_Jaguar                4999 non-null   uint8
 20  Name_Jeep                  4999 non-null   uint8
 21  Name_Lamborghini           4999 non-null   uint8
 22  Name_Land                  4999 non-null   uint8
 23  Name_Mahindra              4999 non-null   uint8
 24  Name_Maruti                4999 non-null   uint8
 25  Name_Mercedes-Benz         4999 non-null   uint8
 26  Name_Mini                  4999 non-null   uint8
 27  Name_Mitsubishi            4999 non-null   uint8
 28  Name_Nissan                4999 non-null   uint8
 29  Name_Porsche               4999 non-null   uint8
 30  Name_Renault               4999 non-null   uint8
 31  Name_Skoda                 4999 non-null   uint8
 32  Name_Tata                  4999 non-null   uint8
 33  Name_Toyota                4999 non-null   uint8
 34  Name_Volkswagen            4999 non-null   uint8
 35  Name_Volvo                 4999 non-null   uint8
 36  Location_Ahmedabad         4999 non-null   uint8
 37  Location_Bangalore         4999 non-null   uint8
 38  Location_Chennai           4999 non-null   uint8
 39  Location_Coimbatore        4999 non-null   uint8
 40  Location_Delhi             4999 non-null   uint8
 41  Location_Hyderabad         4999 non-null   uint8
 42  Location_Jaipur            4999 non-null   uint8
 43  Location_Kochi             4999 non-null   uint8
 44  Location_Kolkata           4999 non-null   uint8
 45  Location_Mumbai            4999 non-null   uint8
 46  Location_Pune              4999 non-null   uint8
 47  Fuel_Type_CNG              4999 non-null   uint8
 48  Fuel_Type_Diesel           4999 non-null   uint8
 49  Fuel_Type_Electric         4999 non-null   uint8
 50  Fuel_Type_LPG              4999 non-null   uint8
 51  Fuel_Type_Petrol           4999 non-null   uint8
 52  Transmission_Automatic     4999 non-null   uint8
 53  Transmission_Manual        4999 non-null   uint8
 54  Owner_Type_First           4999 non-null   uint8
 55  Owner_Type_Fourth & Above  4999 non-null   uint8
 56  Owner_Type_Second          4999 non-null   uint8
 57  Owner_Type_Third           4999 non-null   uint8
 58  Brand_Audi                 4999 non-null   uint8
 59  Brand_BMW                  4999 non-null   uint8
 60  Brand_Bentley              4999 non-null   uint8
 61  Brand_Chevrolet            4999 non-null   uint8
 62  Brand_Datsun               4999 non-null   uint8
 63  Brand_Fiat                 4999 non-null   uint8
 64  Brand_Force                4999 non-null   uint8
 65  Brand_Ford                 4999 non-null   uint8
 66  Brand_Honda                4999 non-null   uint8
 67  Brand_Hyundai              4999 non-null   uint8
 68  Brand_ISUZU                4999 non-null   uint8
 69  Brand_Isuzu                4999 non-null   uint8
 70  Brand_Jaguar               4999 non-null   uint8
 71  Brand_Jeep                 4999 non-null   uint8
 72  Brand_Lamborghini          4999 non-null   uint8
 73  Brand_Land                 4999 non-null   uint8
 74  Brand_Mahindra             4999 non-null   uint8
 75  Brand_Maruti               4999 non-null   uint8
 76  Brand_Mercedes-Benz        4999 non-null   uint8
 77  Brand_Mini                 4999 non-null   uint8
 78  Brand_Mitsubishi           4999 non-null   uint8
 79  Brand_Nissan               4999 non-null   uint8
 80  Brand_Porsche              4999 non-null   uint8
 81  Brand_Renault              4999 non-null   uint8
 82  Brand_Skoda                4999 non-null   uint8
 83  Brand_Tata                 4999 non-null   uint8
 84  Brand_Toyota               4999 non-null   uint8
 85  Brand_Volkswagen           4999 non-null   uint8
 86  Brand_Volvo                4999 non-null   uint8
dtypes: float64(5), int64(3), uint8(79)
memory usage: 737.2 KB

In [279]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 82 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         1019 non-null   int64
 1   Year                       1019 non-null   int64
 2   Kilometers_Driven          1019 non-null   int64
 3   Mileage                    1019 non-null   float64
 4   Engine                     1019 non-null   float64
 5   Power                      1019 non-null   float64
 6   Seats                      1019 non-null   int64
 7   Name_Audi                  1019 non-null   uint8
 8   Name_BMW                   1019 non-null   uint8
 9   Name_Bentley               1019 non-null   uint8
 10  Name_Chevrolet             1019 non-null   uint8
 11  Name_Fiat                  1019 non-null   uint8
 12  Name_Force                 1019 non-null   uint8
 13  Name_Ford                  1019 non-null   uint8
 14  Name_Honda                 1019 non-null   uint8
 15  Name_Hyundai               1019 non-null   uint8
 16  Name_ISUZU                 1019 non-null   uint8
 17  Name_Jaguar                1019 non-null   uint8
 18  Name_Jeep                  1019 non-null   uint8
 19  Name_Lamborghini           1019 non-null   uint8
 20  Name_Land                  1019 non-null   uint8
 21  Name_Mahindra              1019 non-null   uint8
 22  Name_Maruti                1019 non-null   uint8
 23  Name_Mercedes-Benz         1019 non-null   uint8
 24  Name_Mini                  1019 non-null   uint8
 25  Name_Mitsubishi            1019 non-null   uint8
 26  Name_Nissan                1019 non-null   uint8
 27  Name_Porsche               1019 non-null   uint8
 28  Name_Renault               1019 non-null   uint8
 29  Name_Skoda                 1019 non-null   uint8
 30  Name_Tata                  1019 non-null   uint8
 31  Name_Toyota                1019 non-null   uint8
 32  Name_Volkswagen            1019 non-null   uint8
 33  Name_Volvo                 1019 non-null   uint8
 34  Location_Ahmedabad         1019 non-null   uint8
 35  Location_Bangalore         1019 non-null   uint8
 36  Location_Chennai           1019 non-null   uint8
 37  Location_Coimbatore        1019 non-null   uint8
 38  Location_Delhi             1019 non-null   uint8
 39  Location_Hyderabad         1019 non-null   uint8
 40  Location_Jaipur            1019 non-null   uint8
 41  Location_Kochi             1019 non-null   uint8
 42  Location_Kolkata           1019 non-null   uint8
 43  Location_Mumbai            1019 non-null   uint8
 44  Location_Pune              1019 non-null   uint8
 45  Fuel_Type_CNG              1019 non-null   uint8
 46  Fuel_Type_Diesel           1019 non-null   uint8
 47  Fuel_Type_LPG              1019 non-null   uint8
 48  Fuel_Type_Petrol           1019 non-null   uint8
 49  Transmission_Automatic     1019 non-null   uint8
 50  Transmission_Manual        1019 non-null   uint8
 51  Owner_Type_First           1019 non-null   uint8
 52  Owner_Type_Fourth & Above  1019 non-null   uint8
 53  Owner_Type_Second          1019 non-null   uint8
 54  Owner_Type_Third           1019 non-null   uint8
 55  Brand_Audi                 1019 non-null   uint8
 56  Brand_BMW                  1019 non-null   uint8
 57  Brand_Bentley              1019 non-null   uint8
 58  Brand_Chevrolet            1019 non-null   uint8
 59  Brand_Fiat                 1019 non-null   uint8
 60  Brand_Force                1019 non-null   uint8
 61  Brand_Ford                 1019 non-null   uint8
 62  Brand_Honda                1019 non-null   uint8
 63  Brand_Hyundai              1019 non-null   uint8
 64  Brand_ISUZU                1019 non-null   uint8
 65  Brand_Jaguar               1019 non-null   uint8
 66  Brand_Jeep                 1019 non-null   uint8
 67  Brand_Lamborghini          1019 non-null   uint8
 68  Brand_Land                 1019 non-null   uint8
 69  Brand_Mahindra             1019 non-null   uint8
 70  Brand_Maruti               1019 non-null   uint8
 71  Brand_Mercedes-Benz        1019 non-null   uint8
 72  Brand_Mini                 1019 non-null   uint8
 73  Brand_Mitsubishi           1019 non-null   uint8
 74  Brand_Nissan               1019 non-null   uint8
 75  Brand_Porsche              1019 non-null   uint8
 76  Brand_Renault              1019 non-null   uint8
 77  Brand_Skoda                1019 non-null   uint8
 78  Brand_Tata                 1019 non-null   uint8
 79  Brand_Toyota               1019 non-null   uint8
 80  Brand_Volkswagen           1019 non-null   uint8
 81  Brand_Volvo                1019 non-null   uint8
dtypes: float64(3), int64(4), uint8(75)
memory usage: 130.5 KB

### 컬럼 one hot encoding

print(train_data['Name'].unique())   # 얜 띄워놓고 하면될듯
print(train_data['Location'].unique()) # 얜 11개라 원핫 할만한듯?
print(train_data['Fuel_Type'].unique()) # 4개라 원핫인코딩ㄱㄱ
print(train_data['Transmission'].unique()) # 얘도 2개라 원핫 인코딩 ㄱㄱ
print(train_data['Owner_Type'].unique()) # 개라 원핫인코딩ㄱㄱ

In [280]:
train_data.columns

Index(['ID', 'Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power',
       'Seats', 'Price', 'Name_Audi', 'Name_BMW', 'Name_Bentley',
       'Name_Chevrolet', 'Name_Datsun', 'Name_Fiat', 'Name_Force', 'Name_Ford',
       'Name_Honda', 'Name_Hyundai', 'Name_ISUZU', 'Name_Jaguar', 'Name_Jeep',
       'Name_Lamborghini', 'Name_Land', 'Name_Mahindra', 'Name_Maruti',
       'Name_Mercedes-Benz', 'Name_Mini', 'Name_Mitsubishi', 'Name_Nissan',
       'Name_Porsche', 'Name_Renault', 'Name_Skoda', 'Name_Tata',
       'Name_Toyota', 'Name_Volkswagen', 'Name_Volvo', 'Location_Ahmedabad',
       'Location_Bangalore', 'Location_Chennai', 'Location_Coimbatore',
       'Location_Delhi', 'Location_Hyderabad', 'Location_Jaipur',
       'Location_Kochi', 'Location_Kolkata', 'Location_Mumbai',
       'Location_Pune', 'Fuel_Type_CNG', 'Fuel_Type_Diesel',
       'Fuel_Type_Electric', 'Fuel_Type_LPG', 'Fuel_Type_Petrol',
       'Transmission_Automatic', 'Transmission_Manual', 'Owner_Type_First',
       'Owner_Type_Fourth & Above', 'Owner_Type_Second', 'Owner_Type_Third',
       'Brand_Audi', 'Brand_BMW', 'Brand_Bentley', 'Brand_Chevrolet',
       'Brand_Datsun', 'Brand_Fiat', 'Brand_Force', 'Brand_Ford',
       'Brand_Honda', 'Brand_Hyundai', 'Brand_ISUZU', 'Brand_Isuzu',
       'Brand_Jaguar', 'Brand_Jeep', 'Brand_Lamborghini', 'Brand_Land',
       'Brand_Mahindra', 'Brand_Maruti', 'Brand_Mercedes-Benz', 'Brand_Mini',
       'Brand_Mitsubishi', 'Brand_Nissan', 'Brand_Porsche', 'Brand_Renault',
       'Brand_Skoda', 'Brand_Tata', 'Brand_Toyota', 'Brand_Volkswagen',
       'Brand_Volvo'],
      dtype='object')

In [281]:
X = train_data.loc[:,['ID', 'Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power',
       'Seats', 'Name_Audi', 'Name_BMW', 'Name_Bentley',
       'Name_Chevrolet', 'Name_Fiat', 'Name_Force', 'Name_Ford', 'Name_Honda',
       'Name_Hyundai', 'Name_ISUZU', 'Name_Jaguar', 'Name_Jeep',
       'Name_Lamborghini', 'Name_Land', 'Name_Mahindra', 'Name_Maruti',
       'Name_Mercedes-Benz', 'Name_Mini', 'Name_Mitsubishi', 'Name_Nissan',
       'Name_Porsche', 'Name_Renault', 'Name_Skoda', 'Name_Tata',
       'Name_Toyota', 'Name_Volkswagen', 'Name_Volvo', 'Location_Ahmedabad',
       'Location_Bangalore', 'Location_Chennai', 'Location_Coimbatore',
       'Location_Delhi', 'Location_Hyderabad', 'Location_Jaipur',
       'Location_Kochi', 'Location_Kolkata', 'Location_Mumbai',
       'Location_Pune', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Fuel_Type_LPG',
       'Fuel_Type_Petrol', 'Transmission_Automatic', 'Transmission_Manual',
       'Owner_Type_First', 'Owner_Type_Fourth & Above', 'Owner_Type_Second',
       'Owner_Type_Third']]
y = train_data['Price']

In [282]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 25)

### LinearRegression 쓸거임

In [283]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(XX, yy)
y_pred= linear_reg.predict(X_test)
print("Accuracy on Traing set: ",linear_reg.score(X_train,y_train))
print("Accuracy on Testing set: ",linear_reg.score(X_test,y_test))

Accuracy on Traing set:  0.7637274758858987
Accuracy on Testing set:  0.7945814185846238

In [284]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor()
rf_reg.fit(XX, yy)
y_pred= rf_reg.predict(test_data)
print("Accuracy on Traing set: ",rf_reg.score(X_train,y_train))
print("Accuracy on Testing set: ",rf_reg.score(X_test,y_test))

submission = pd.read_csv('./data_kaggle/sampleSubmission.csv')
submission['Price'] = y_pred
submission.to_csv('0908_01.csv',index=False)

ValueError: Number of features of the model must match the input. Model n_features is 55 and input n_features is 82

In [286]:
XX = train_data.loc[:,['ID', 'Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power',
       'Seats', 'Name_Audi', 'Name_BMW', 'Name_Bentley',
       'Name_Chevrolet', 'Name_Fiat', 'Name_Force', 'Name_Ford', 'Name_Honda',
       'Name_Hyundai', 'Name_ISUZU', 'Name_Jaguar', 'Name_Jeep',
       'Name_Lamborghini', 'Name_Land', 'Name_Mahindra', 'Name_Maruti',
       'Name_Mercedes-Benz', 'Name_Mini', 'Name_Mitsubishi', 'Name_Nissan',
       'Name_Porsche', 'Name_Renault', 'Name_Skoda', 'Name_Tata',
       'Name_Toyota', 'Name_Volkswagen', 'Name_Volvo', 'Location_Ahmedabad',
       'Location_Bangalore', 'Location_Chennai', 'Location_Coimbatore',
       'Location_Delhi', 'Location_Hyderabad', 'Location_Jaipur',
       'Location_Kochi', 'Location_Kolkata', 'Location_Mumbai',
       'Location_Pune', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Fuel_Type_LPG',
       'Fuel_Type_Petrol', 'Transmission_Automatic', 'Transmission_Manual',
       'Owner_Type_First', 'Owner_Type_Fourth & Above', 'Owner_Type_Second',
       'Owner_Type_Third']]
yy = train_data['Price']

### xgboost 쓸거임

In [287]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\smhrd\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: numpy in c:\users\smhrd\anaconda3\lib\site-packages (from xgboost) (1.18.1)
Requirement already satisfied: scipy in c:\users\smhrd\anaconda3\lib\site-packages (from xgboost) (1.4.1)

In [288]:
from xgboost import XGBClassifier

In [289]:
xgb = XGBClassifier(booster = 'gbtree')

In [290]:
xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [291]:
xgb.predict(X_test)

array([ 5.75,  4.5 ,  7.85,  5.5 ,  4.45,  3.5 , 22.99,  2.6 ,  8.7 ,
        5.91, 10.75,  7.4 , 24.5 , 13.5 ,  1.75,  3.2 ,  5.5 ,  9.58,
        1.25,  6.99,  5.2 ,  4.5 ,  4.75,  8.75,  7.99,  6.25, 47.5 ,
        4.95,  3.75,  3.65,  4.9 ,  1.6 ,  7.75,  2.95,  5.37,  4.5 ,
        7.9 , 32.5 ,  5.25,  3.25,  2.25,  9.25,  8.  ,  5.8 ,  5.53,
        6.95,  4.35, 19.75, 12.  , 17.75,  3.47,  5.5 ,  3.45,  2.  ,
        9.  ,  4.25,  4.99,  3.75,  9.15, 12.25,  1.75, 13.25, 29.  ,
        7.5 , 21.  ,  0.45,  3.3 ,  5.95,  5.1 ,  2.95,  6.21, 44.  ,
       20.  ,  3.61, 11.88,  1.95,  8.5 ,  2.49,  2.75,  2.74,  3.9 ,
        3.5 ,  6.14,  9.45,  6.75, 36.  , 57.  ,  3.  , 12.5 ,  4.5 ,
        3.55,  4.  ,  5.5 ,  4.95, 36.  ,  3.25,  0.7 ,  4.25, 23.  ,
       26.  , 10.75,  4.5 ,  4.5 ,  4.5 ,  5.5 ,  6.5 ,  3.6 ,  2.8 ,
        4.45, 12.5 ,  5.55,  5.84,  5.25,  8.  ,  3.6 , 24.99, 28.  ,
        4.95, 13.5 ,  2.9 , 21.  ,  3.8 ,  1.7 ,  3.41,  3.85,  3.41,
        6.01,  5.99,  4.8 ,  3.25,  2.9 , 11.  ,  2.6 ,  7.67,  4.25,
        8.25,  3.25, 35.  ,  3.6 ,  6.25,  2.44,  8.75,  3.42,  2.5 ,
       29.  ,  9.25,  6.95,  6.3 ,  5.5 ,  4.31,  5.5 ,  1.45,  5.75,
        5.75,  3.25,  8.65, 28.  ,  4.25,  6.95,  3.25,  2.3 ,  8.85,
        6.75, 13.5 ,  7.57,  8.7 ,  3.5 , 29.  ,  2.95,  1.75,  1.99,
        4.  ,  1.5 ,  2.6 ,  4.5 ,  2.6 ,  2.25, 10.75, 28.  ,  7.1 ,
        3.3 ,  3.  ,  5.65,  6.17, 11.5 , 13.  ,  5.49,  7.3 ,  3.5 ,
        4.95, 24.5 ,  1.5 ,  5.5 ,  1.11,  1.8 ,  5.5 ,  4.35,  5.35,
        1.65,  6.  ,  4.85,  6.  ,  6.9 ,  2.5 , 25.5 ,  8.15,  8.92,
       12.75, 12.6 ,  6.9 ,  2.9 ,  2.7 ,  8.25, 29.  ,  5.53,  1.75,
        2.79,  9.25,  2.5 , 14.5 ,  2.4 ,  3.75,  4.1 ,  2.5 , 75.  ,
        5.65,  3.96,  4.85,  1.65,  4.  ,  5.49, 12.  , 15.  ,  2.55,
       36.  , 22.  , 18.5 ,  6.7 ,  8.5 ,  5.49,  5.5 ,  7.05,  6.99,
        2.1 ,  2.74,  2.75,  7.53, 67.  , 11.5 ,  5.65,  2.55,  1.6 ,
        5.75,  7.  ,  1.5 ,  3.42, 10.75,  6.  ,  4.75,  2.21,  3.99,
       24.5 ,  4.25,  6.3 ,  4.  ,  5.  , 29.95,  1.8 ,  1.9 , 37.  ,
       25.71, 10.3 ,  3.74, 10.  , 12.  ,  2.9 ,  1.75,  2.66, 21.26,
        2.5 ,  5.5 ,  5.99,  3.75, 12.75,  3.25,  2.6 , 15.5 , 60.  ,
        3.15,  5.85,  1.2 ,  7.75,  5.5 ,  3.15, 24.5 ,  5.75,  4.9 ,
        5.5 ,  7.3 ,  4.75,  5.34,  7.5 ,  4.25,  2.3 ,  3.9 , 13.5 ,
        6.25,  3.  ,  3.95,  2.9 ,  7.88, 75.  ,  2.6 , 29.95,  2.5 ,
        5.  ,  1.5 ,  1.5 ,  1.15, 36.  ,  4.75, 14.  ,  3.5 ,  2.49,
        5.  ,  5.75,  2.59,  8.  ,  8.5 , 11.  ,  2.41,  5.3 , 34.  ,
       16.  ,  4.1 ,  3.95, 30.  ,  2.3 , 25.5 ,  5.99,  3.5 ,  4.95,
        6.85,  5.5 ,  8.45, 16.5 ,  6.95,  2.78,  6.5 ,  4.45,  9.2 ,
        3.75,  8.95,  6.51, 11.75,  8.5 , 11.9 ,  2.49,  3.96,  3.41,
        3.61,  5.77,  5.5 ,  2.75,  2.65,  6.57, 24.  ,  5.75,  2.79,
       25.  ,  7.3 ,  2.1 , 12.5 ,  3.25, 23.  ,  9.  ,  3.65,  6.  ,
        2.25,  7.75,  9.25,  5.55,  2.11,  6.17, 22.99,  6.  ,  2.25,
       16.5 ,  3.45,  6.5 ,  1.8 ,  6.35,  3.6 ,  1.95,  1.7 ,  9.65,
        4.3 ,  8.75, 54.  ,  4.45, 17.49,  2.1 , 13.25, 45.  ,  8.15,
        5.1 ,  4.3 ,  4.5 ,  4.65, 12.75, 11.95,  7.55, 18.  ,  3.6 ,
        3.5 ,  4.4 ,  3.85,  1.25,  2.6 ,  0.45,  3.55,  1.95,  2.9 ,
        4.5 , 11.5 ,  8.4 ,  4.9 ,  4.25,  4.25, 13.5 ,  3.3 ,  2.69,
        1.55,  2.25,  8.25,  3.2 ,  6.25,  3.4 ,  3.41,  5.75,  4.75,
        6.5 , 17.75,  4.25,  8.36, 19.75,  2.25, 17.5 ,  2.95,  3.79,
       12.5 ,  2.5 , 21.  ,  4.35,  5.21,  1.15,  4.3 , 15.  , 23.19,
        4.3 ,  2.5 ,  3.88,  2.2 ,  5.65, 54.  , 20.5 ,  2.5 ,  4.45,
       20.  , 11.5 ,  3.1 ,  3.25,  2.65,  5.7 , 36.  ,  7.2 ,  3.3 ,
        7.65,  4.4 , 20.  ,  1.2 , 24.5 ,  6.1 ,  3.3 ,  4.  , 18.  ,
        2.8 ,  4.75, 17.25,  4.99, 35.  ,  7.9 , 19.  ,  4.5 ,  2.9 ,
        4.35,  3.75, 24.5 ,  5.5 ,  3.6 ,  6.  ,  2.35, 17.5 ,  3.5 ,
       11.5 ,  4.7 ,  1.2 ,  3.35,  6.95,  5.1 ,  5.22,  2.5 , 45.  ,
        6.  ,  3.74, 32.  ,  4.75,  5.5 ,  3.99,  6.35,  3.9 ,  7.25,
       11.88,  8.9 ,  4.6 ,  5.5 ,  3.85,  4.8 ,  4.95,  6.5 ,  2.6 ,
        3.29,  6.51,  5.5 , 16.11, 38.  ,  5.21,  8.5 ,  4.25,  6.25,
        5.75,  7.99,  2.5 ,  6.1 ,  5.65, 16.5 , 16.  ,  2.4 ,  3.25,
        1.8 , 22.99,  4.45,  3.45,  7.95, 32.5 ,  3.1 , 35.  ,  5.38,
        6.67,  4.25, 12.5 , 36.  ,  1.45,  4.5 ,  2.2 , 18.5 , 23.  ,
        6.5 , 52.  , 16.  , 21.  ,  4.75,  1.25,  4.95,  8.  ,  8.99,
        8.5 ,  7.9 ,  2.5 ,  5.91,  5.75,  3.8 ,  6.5 ,  2.5 ,  5.75,
        3.95,  2.6 ,  7.53,  2.75, 23.75,  6.  ,  8.95,  7.29,  6.75,
        5.44,  4.65, 12.5 , 26.  ,  5.21,  5.45,  7.5 ,  7.12,  6.57,
        7.72, 24.75,  5.6 ,  3.3 ,  1.25,  7.99,  4.25,  2.5 ,  5.8 ,
        4.5 ,  3.71,  7.78,  7.99,  8.75,  2.6 ,  1.59, 21.5 , 17.5 ,
       26.  ,  5.86,  5.5 , 10.5 , 10.  ,  4.56,  5.75,  5.84,  2.2 ,
        6.55,  7.05,  4.75,  1.2 , 21.99, 39.75, 17.49,  5.  ,  0.85,
        3.  ,  2.25,  5.75,  4.4 ,  2.75,  3.45,  2.  ,  2.8 ,  3.3 ,
       21.5 ,  3.25,  4.68,  3.5 , 12.  , 12.6 ,  1.85,  8.25,  3.75,
        3.25, 12.75,  3.5 ,  3.95,  5.75,  6.75,  5.68,  6.5 , 12.5 ,
        0.9 ,  3.25,  6.5 ,  5.15,  7.5 ,  4.75, 33.66, 49.  ,  6.9 ,
       13.28,  4.  ,  2.79,  8.15, 32.  ,  1.95,  1.75,  8.95,  3.2 ,
        4.4 ,  7.4 ,  6.45, 22.75,  4.25,  5.25,  3.7 ,  8.5 ,  3.39,
        2.21,  7.9 ,  1.95,  6.5 ,  4.4 ,  6.4 , 11.5 ,  4.25,  4.8 ,
        3.3 ,  2.4 ,  6.51,  5.  ,  5.  ,  5.39,  3.95, 36.  , 12.25,
        6.25,  8.  ,  2.5 ,  7.5 ,  5.  ,  8.25,  5.27,  6.55,  3.6 ,
       56.  ,  4.9 ,  5.25,  6.2 ,  5.84,  6.25, 13.9 ,  7.  ,  5.21,
        9.95, 18.25,  4.27,  7.25,  5.23,  4.45, 14.5 , 56.  ,  4.5 ,
        2.79, 17.  ,  2.1 ,  9.45,  3.32,  4.5 ,  8.25,  6.75,  4.75,
        7.25,  2.5 ,  2.25, 26.  ,  2.5 ,  6.5 ,  3.  ,  2.6 ,  4.3 ,
        2.1 ,  3.25,  3.29, 24.5 ,  2.85,  3.15, 18.5 , 33.5 ,  5.5 ,
       13.  ,  3.15,  2.85,  8.5 , 15.  ,  6.25,  4.45,  2.45,  3.5 ,
       16.5 ,  2.1 , 12.5 ,  9.8 ,  6.79, 13.5 ,  4.25,  6.5 ,  4.25,
       16.11, 28.  ,  6.2 ,  8.85, 13.25, 21.  ,  5.53,  5.45,  5.4 ,
       11.  ,  1.75,  4.55, 11.45,  5.45,  2.25,  3.74,  1.  ,  4.5 ,
        5.35,  2.3 ,  2.5 , 15.  , 10.  , 56.  ,  1.99,  3.3 ,  6.6 ,
        4.49,  2.45,  3.2 ,  6.15,  6.35,  4.  ,  2.96,  5.27,  9.5 ,
        4.8 ,  5.9 ,  5.75,  0.85,  7.  ,  4.95,  9.95,  3.35, 23.75,
        3.3 ,  9.2 , 13.5 ,  7.25,  6.5 ,  3.25, 35.  , 34.88,  7.5 ,
        8.6 , 16.  , 20.26,  5.5 ,  8.25,  5.5 , 18.  ,  9.45,  2.5 ,
       18.25,  5.5 ,  5.89,  3.2 , 75.  , 10.  , 30.  , 18.  ,  3.25,
        2.5 ,  3.38,  5.67, 14.5 ,  6.75, 18.25,  1.  , 23.75,  8.7 ,
        5.4 ,  5.9 , 22.45,  4.75,  8.11,  3.45,  8.9 ,  4.25, 10.15,
        7.2 ,  3.8 ,  5.  ,  3.5 ,  4.75,  1.25, 45.  , 39.47, 14.  ,
        5.  ,  2.  ,  4.27,  3.11, 11.88,  2.75,  3.5 ,  1.75,  6.  ,
        0.9 , 18.25,  6.  ,  3.  ,  5.45,  4.28,  6.4 ,  9.2 ,  2.95,
       11.  , 10.99,  4.4 ,  1.2 ,  4.31,  8.36,  6.85, 10.99,  5.  ,
       10.75, 20.5 ,  2.25, 12.6 ,  1.8 ,  6.25,  5.4 ,  2.5 ,  8.65,
        1.5 ,  5.84,  5.5 , 10.5 ,  2.05, 22.75, 10.  , 12.75, 10.75,
        1.7 ,  1.2 ,  2.65,  1.4 ,  1.  ,  2.4 ,  4.25, 26.  , 13.85,
        0.95,  9.9 , 10.75,  1.3 ,  4.95,  6.  ,  4.  ,  5.5 , 29.  ,
        5.49,  3.25,  4.25,  2.6 , 16.95,  6.8 ,  3.2 ,  4.9 ,  7.85,
        9.31,  2.  ,  4.95,  6.  ,  5.5 , 16.5 ,  6.32,  3.85,  2.4 ,
       17.49, 10.75,  3.4 ,  4.4 ,  1.75,  5.49,  2.  ,  2.1 ,  2.35,
       13.5 ,  6.15, 10.  ,  4.  ,  2.21,  4.95,  9.45,  2.4 ,  7.12,
        4.75, 23.  , 21.5 ,  4.31,  4.5 , 25.5 ,  6.99, 11.5 ,  7.  ,
        3.25,  6.89,  3.  ,  2.4 ,  3.25,  6.  , 52.5 ,  3.25,  4.3 ,
        2.4 ])

In [292]:
xgb.score(X_train,y_train)

ValueError: continuous is not supported

In [293]:
print(X_train.shape)
print(X_test.shape)

(3999, 55)
(1000, 55)

In [294]:
train_data.shape

(4999, 87)

In [295]:
pre = xgb.predict(test_data)   # 컬럼 이름이 mismatch

ValueError: feature_names mismatch: ['ID', 'Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats', 'Name_Audi', 'Name_BMW', 'Name_Bentley', 'Name_Chevrolet', 'Name_Fiat', 'Name_Force', 'Name_Ford', 'Name_Honda', 'Name_Hyundai', 'Name_ISUZU', 'Name_Jaguar', 'Name_Jeep', 'Name_Lamborghini', 'Name_Land', 'Name_Mahindra', 'Name_Maruti', 'Name_Mercedes-Benz', 'Name_Mini', 'Name_Mitsubishi', 'Name_Nissan', 'Name_Porsche', 'Name_Renault', 'Name_Skoda', 'Name_Tata', 'Name_Toyota', 'Name_Volkswagen', 'Name_Volvo', 'Location_Ahmedabad', 'Location_Bangalore', 'Location_Chennai', 'Location_Coimbatore', 'Location_Delhi', 'Location_Hyderabad', 'Location_Jaipur', 'Location_Kochi', 'Location_Kolkata', 'Location_Mumbai', 'Location_Pune', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Fuel_Type_LPG', 'Fuel_Type_Petrol', 'Transmission_Automatic', 'Transmission_Manual', 'Owner_Type_First', 'Owner_Type_Fourth & Above', 'Owner_Type_Second', 'Owner_Type_Third'] ['ID', 'Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats', 'Name_Audi', 'Name_BMW', 'Name_Bentley', 'Name_Chevrolet', 'Name_Fiat', 'Name_Force', 'Name_Ford', 'Name_Honda', 'Name_Hyundai', 'Name_ISUZU', 'Name_Jaguar', 'Name_Jeep', 'Name_Lamborghini', 'Name_Land', 'Name_Mahindra', 'Name_Maruti', 'Name_Mercedes-Benz', 'Name_Mini', 'Name_Mitsubishi', 'Name_Nissan', 'Name_Porsche', 'Name_Renault', 'Name_Skoda', 'Name_Tata', 'Name_Toyota', 'Name_Volkswagen', 'Name_Volvo', 'Location_Ahmedabad', 'Location_Bangalore', 'Location_Chennai', 'Location_Coimbatore', 'Location_Delhi', 'Location_Hyderabad', 'Location_Jaipur', 'Location_Kochi', 'Location_Kolkata', 'Location_Mumbai', 'Location_Pune', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Fuel_Type_LPG', 'Fuel_Type_Petrol', 'Transmission_Automatic', 'Transmission_Manual', 'Owner_Type_First', 'Owner_Type_Fourth & Above', 'Owner_Type_Second', 'Owner_Type_Third', 'Brand_Audi', 'Brand_BMW', 'Brand_Bentley', 'Brand_Chevrolet', 'Brand_Fiat', 'Brand_Force', 'Brand_Ford', 'Brand_Honda', 'Brand_Hyundai', 'Brand_ISUZU', 'Brand_Jaguar', 'Brand_Jeep', 'Brand_Lamborghini', 'Brand_Land', 'Brand_Mahindra', 'Brand_Maruti', 'Brand_Mercedes-Benz', 'Brand_Mini', 'Brand_Mitsubishi', 'Brand_Nissan', 'Brand_Porsche', 'Brand_Renault', 'Brand_Skoda', 'Brand_Tata', 'Brand_Toyota', 'Brand_Volkswagen', 'Brand_Volvo']
training data did not have the following fields: Brand_Ford, Brand_Nissan, Brand_Skoda, Brand_Tata, Brand_Volvo, Brand_Jaguar, Brand_Mercedes-Benz, Brand_Honda, Brand_Volkswagen, Brand_Bentley, Brand_Fiat, Brand_Audi, Brand_Toyota, Brand_Force, Brand_Maruti, Brand_Renault, Brand_Mahindra, Brand_Mitsubishi, Brand_Jeep, Brand_Chevrolet, Brand_Hyundai, Brand_Mini, Brand_ISUZU, Brand_Land, Brand_Porsche, Brand_Lamborghini, Brand_BMW

In [296]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3999 entries, 1393 to 318
Data columns (total 55 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         3999 non-null   int64
 1   Year                       3999 non-null   int64
 2   Kilometers_Driven          3999 non-null   float64
 3   Mileage                    3999 non-null   float64
 4   Engine                     3999 non-null   float64
 5   Power                      3999 non-null   float64
 6   Seats                      3999 non-null   int64
 7   Name_Audi                  3999 non-null   uint8
 8   Name_BMW                   3999 non-null   uint8
 9   Name_Bentley               3999 non-null   uint8
 10  Name_Chevrolet             3999 non-null   uint8
 11  Name_Fiat                  3999 non-null   uint8
 12  Name_Force                 3999 non-null   uint8
 13  Name_Ford                  3999 non-null   uint8
 14  Name_Honda                 3999 non-null   uint8
 15  Name_Hyundai               3999 non-null   uint8
 16  Name_ISUZU                 3999 non-null   uint8
 17  Name_Jaguar                3999 non-null   uint8
 18  Name_Jeep                  3999 non-null   uint8
 19  Name_Lamborghini           3999 non-null   uint8
 20  Name_Land                  3999 non-null   uint8
 21  Name_Mahindra              3999 non-null   uint8
 22  Name_Maruti                3999 non-null   uint8
 23  Name_Mercedes-Benz         3999 non-null   uint8
 24  Name_Mini                  3999 non-null   uint8
 25  Name_Mitsubishi            3999 non-null   uint8
 26  Name_Nissan                3999 non-null   uint8
 27  Name_Porsche               3999 non-null   uint8
 28  Name_Renault               3999 non-null   uint8
 29  Name_Skoda                 3999 non-null   uint8
 30  Name_Tata                  3999 non-null   uint8
 31  Name_Toyota                3999 non-null   uint8
 32  Name_Volkswagen            3999 non-null   uint8
 33  Name_Volvo                 3999 non-null   uint8
 34  Location_Ahmedabad         3999 non-null   uint8
 35  Location_Bangalore         3999 non-null   uint8
 36  Location_Chennai           3999 non-null   uint8
 37  Location_Coimbatore        3999 non-null   uint8
 38  Location_Delhi             3999 non-null   uint8
 39  Location_Hyderabad         3999 non-null   uint8
 40  Location_Jaipur            3999 non-null   uint8
 41  Location_Kochi             3999 non-null   uint8
 42  Location_Kolkata           3999 non-null   uint8
 43  Location_Mumbai            3999 non-null   uint8
 44  Location_Pune              3999 non-null   uint8
 45  Fuel_Type_CNG              3999 non-null   uint8
 46  Fuel_Type_Diesel           3999 non-null   uint8
 47  Fuel_Type_LPG              3999 non-null   uint8
 48  Fuel_Type_Petrol           3999 non-null   uint8
 49  Transmission_Automatic     3999 non-null   uint8
 50  Transmission_Manual        3999 non-null   uint8
 51  Owner_Type_First           3999 non-null   uint8
 52  Owner_Type_Fourth & Above  3999 non-null   uint8
 53  Owner_Type_Second          3999 non-null   uint8
 54  Owner_Type_Third           3999 non-null   uint8
dtypes: float64(4), int64(3), uint8(48)
memory usage: 437.4 KB

In [297]:
y_test

1318     4.85
1502     5.95
1539     6.34
1607     5.80
704      3.20
        ...
1897     4.25
410     45.00
1590     3.50
3120     4.50
3543     1.40
Name: Price, Length: 1000, dtype: float64

In [298]:
pre.shape

(1019,)

In [299]:
kaggle_data = pd.read_csv('data_kaggle/samplesubmission.csv')
kaggle_data['Price'] = pre
kaggle_data.to_csv('result24.csv', index=False)

In [300]:
for i in range(pre.size) :
    if pre[i] < 1.2 :
        pre[i] = 1.2

kaggle_data['Price'] = pre
kaggle_data.to_csv('result25.csv', index=False)

In [ ]:
pre